
.login-button {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
    gap: 10px;

    a {
        display: flex;
        align-items: center;
        gap: 5px;
        line-height: 0;

        &:hover {
            text-decoration: underline;
        }
    }

    .icon, a {
        font-size: 16px;
    }

    p {
        line-height: 0;
    }

    .connected {
        display: flex;
        align-items: center;
        gap: 15px;
    }
}