
.login-button {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
    gap: 10px;

    a {
        display: flex;
        background-color: red;
    }

    p {
        line-height: 0;
    }

    &:hover {
        text-decoration: underline;
    }
}