
.login {
    height: 100vh;
    background-color: #12002b;

    .sign-in__content {
        box-sizing: border-box;
        background-color: $tertiary-color;
        width: 300px;
        margin: 0 auto;
        margin-top: 3rem;
        padding: 2rem;

        h1 {
            font-size: 24px;
            margin: 20px 0px;
        }

        .input__wrapper {
            display: flex;
            flex-direction: column;
            text-align: left;
            margin-bottom: 1rem;

            label {
                font-weight: bold;
            }

            input {
                padding: 5px;
                font-size: 1.2rem;
            }
        }

        .input__remember {
            display: flex;

            input {
                margin: 3px;
            }

            label {
                margin: 0px 0px 0px 4px;
            }
        }

        .sign-in__button {
            width: 100%;
        }

        .error-message {
            color: red; /* Couleur du texte en rouge */
            font-size: 14px; /* Taille de la police */
            margin-top: 8px; /* Espacement vers le haut pour séparer du champ précédent */
        }

        .input__wrapper input.error-border {
            border-color: red;
        }
          
    }
}