
.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    max-height: 65px;
    background-color: $tertiary-color;

    a {
        font-weight: bold;
        color: #2c3e50;
        text-decoration: none;
    }

    .logo {
        display: flex;
        align-items: center;
        max-width: 100%;
        width: 200px;
    }
}